# ignore data files
data/

*.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# python
*.pyc 

# Notes
notes/
.md
!README.md
